header::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../images/background2.jpg);  
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -10;
}

.logo{
    height: 28px;
    left: -50%;
    right: 90.13%;
    top: calc(50% - 38px/2 - 2px);
    margin-right: 1rem;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.133333px;
    color: #cfcfcf;
}

.logo img:hover{
    margin-top: 6.8rem;
    max-width: 20.5%;
    filter: brightness(1.2);
}

.nav-item {
    margin-right: 40px;
}

.menu{
    background-color: rgba(42, 42, 42, 0.3);
}

nav ul li a{
    color: #1f1f1f;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: bold;
    transition: 0.3s;
}

nav ul li a:hover{
    filter: brightness(1.2);
}

.card-body img{
    max-width: 100px;
}

.table{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.tabela{    
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    color: #cdcdcd;
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 1rem;
}

@media (max-width: 991px) {
    #carouselExampleControls {
        height: 200px;
    }
    .logo{
        height: 28px;
        left: -50%;
        right: 90.13%;
        top: calc(50% - 25px/2 - 2px);
        margin-right: 1rem;
        margin-left: 1rem;
    
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.133333px;
        color: #cfcfcf;
    }
}